<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>42516149478-6p662as0nk3drbjqtde4coauka18sd6b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.42516149478-6p662as0nk3drbjqtde4coauka18sd6b</string>
	<key>API_KEY</key>
	<string>AIzaSyAvV-sL_4qagZJAvkvHLYmsDKTauiMJ1gk</string>
	<key>GCM_SENDER_ID</key>
	<string>42516149478</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jacky99.Reflectx</string>
	<key>PROJECT_ID</key>
	<string>reflectx-5f424</string>
	<key>STORAGE_BUCKET</key>
	<string>reflectx-5f424.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:42516149478:ios:cae8b4a71a02bbf3</string>
	<key>DATABASE_URL</key>
	<string>https://reflectx-5f424.firebaseio.com</string>
</dict>
</plist>
